@layer tailwind-base {
  @tailwind base;

  @layer base {
    html {
      scroll-behavior: smooth;
      @apply scrollbar scrollbar-thumb-surface-100 scrollbar-thumb-rounded-full scrollbar-w-3 dark:scrollbar-thumb-surface-50;
    }

    body {
      @apply bg-surface;
    }

    ::marker {
      @apply text-muted;
    }

    ::selection {
      @apply bg-primary/60;
    }
  }
}

@layer primevue {
  .p-tooltip-arrow {
    @apply hidden;
  }

  /* selector taken from devtools */
  .p-tooltip .p-tooltip-text {
    @apply chip-ring bg-surface-b px-2 py-1 text-xs text-content shadow dark:bg-surface-c;
  }

  .p-dialog {
    @apply min-h-screen w-full overflow-hidden rounded-none border-0 bg-surface-a text-content shadow-xl sm:h-[28rem] sm:min-h-0 sm:max-w-3xl sm:rounded-lg;
  }

  .p-dialog-mask {
    @apply bg-surface-c/75 dark:bg-surface-d/75 sm:p-4;
  }
}

@layer tailwind-utilities {
  @font-face {
    font-family: "Shadows Into Light";
    src: url("@/assets/fonts/ShadowsIntoLight-Regular.ttf") format("truetype");
  }

  @tailwind components;
  @tailwind utilities;

  @layer components {
    .app-scrollbar {
      @apply scrollbar scrollbar-thumb-surface-100 scrollbar-thumb-rounded-full scrollbar-w-2 dark:scrollbar-thumb-surface-50;
    }
    .skeleton {
      @apply h-4 w-full animate-pulse rounded bg-surface-d;
    }

    .p-button {
      @apply gap-x-2;
    }

    .chip-primary {
      @apply bg-primary-50 text-primary;
    }

    .chip-ring {
      @apply ring-1 ring-inset ring-surface-200 dark:ring-surface-100;
    }
  }

  @layer utilities {
    .app-ring {
      @apply ring-1 ring-surface-100 dark:ring-surface-50;
    }

    .mask {
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
    }

    .mask-squircle {
      mask-image: url("@/assets/images/mask-squircle.svg");
    }

    .p-button {
      @apply shadow-sm;
    }

    .p-button-sm {
      @apply h-8 px-3;

      &.p-button-square {
        @apply h-8 w-8 p-0;
      }
    }

    .p-button-link {
      @apply shadow-none;
    }

    .p-button-contrast {
      @apply border-surface-900 bg-surface-900 hover:border-surface-800 hover:bg-surface-800;
    }

    .p-button-outlined {
      @apply border-0 ring-1 ring-inset;
    }

    .p-button-secondary.p-button-outlined {
      @apply bg-surface-b text-content ring-surface-200 hover:bg-surface-c dark:bg-surface-c dark:ring-surface-100 dark:hover:bg-surface-d;
    }

    .chip-ring-primary {
      @apply ring-primary ring-opacity-25;
    }
  }
}
